body {
    margin: 0;

}

header {
    background-color: #03a9fa;
    text-align: center;
}

.logo {
    color:#fff;
    font-family: Roboto;
    text-align:center;
    font-size:60px;
}

header input{
    font-size: 30px;
    margin:20px;

}

















